<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>趣支付网络信息有限公司</title>
    <link rel="stylesheet" href="../../static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/less/application.css">
</head>
<body>
    <!-- 顶部导航栏 -->
    <nav class="navbar navbar-default nav-pay">
        <div class="container">
            <div class="row">
                <div class="col-sm-2" >
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="javascript:;bs-example-navbar-collapse-1"
                            aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand logo-pay" href="../index.html"><img src="../../static/images/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="collapse navbar-collapse nav-content" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav  navbar-left left-nav">
                            <li><a href="../index.html">首页 <span class="sr-only">(current)</span></a></li>
                            <li><a href="ion.html">应用场景</a></li>
                        </ul>
                        <ul class="nav navbar-nav right-nav">
                            <li><a href="tform.html">开放平台</a></li>
                            <li><a href="#" >商户后台</a></li>
                            <li class="dropdown">
                                <a href="http://admin.vcapay.com.cn:8080/pay-admin/modules/aliPayTest/testPay.html" target="_blank" class = "btn-login">测试链接</a>
                            </li>
                        </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- 标题容器 -->
    <div class="container-fluid application-bg">
        <img src="../../static/images/application/application.jpg" alt="">
    </div>
    <!-- 产品体系 -->
    <div class="container product-system">
        <h2>产品体系</h2>
        <h3>Product System</h3>
        <ul class="clearfix">
            <li>
                <a href="javascript:;">
                    <h4>超级二维码</h4>
                    <p>融合支付宝<br>微信支付 银联等多<br>种支付方式、实现一码<br>收款、方便便捷</p>
                    <span>了解更多</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <h4>智能POS</h4>
                    <p>银联、扫码、<br>NFC挥卡支付、从传统<br>到互联、一扫付智能<br>支付一站式解决</p>
                    <span>了解更多</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <h4>PC收银台</h4>
                    <p>多种支付收款工具收银<br>应用程序，无需对接开<br>发，只需安装应用、收<br>款、核销一键搞定</p>
                    <span>了解更多</span>
                </a>
            </li>

            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<h4>一扫付商户版</h4>-->
                    <!--<p>支持应用IOS Android<br>支持各种扫码支付，支持<br>手刷应用与独立一扫付<br>APP收款等多种支付场景</p>-->
                    <!--<span>了解更多</span>-->
                <!--</a>-->
            <!--</li>-->
            <li>
                <a href="javascript:;">
                    <h4>线上SDK</h4>
                    <p>同时支持移动端及<br>PC端的多种主流支付<br>渠道，一扫付线上融合<br>SDK，支付主流的七 . . .</p>
                    <span class="bgBtn">了解更多</span>
                </a>
            </li>
        </ul>

    </div>
    <!-- 支付场景 -->
    <div class="container-fluid payment-scene">
        <div class=" container">
            <h2>支付场景</h2>
            <h3>Payment scene</h3>
            <h4>线上：</h4>
            <ul class="clearfix">
                <li>
                    <img src="../../static/images/application/pay1.png" alt="">
                    <p>PC网页</p>
                </li>
                <li>
                    <img src="../../static/images/application/pay2.png" alt="">
                    <p>WAP</p>
                </li>
                <li>
                    <img src="../../static/images/application/pay3.png" alt="">
                    <p>银联快捷</p>
                </li>
                <li>
                    <img src="../../static/images/application/pay4.png" alt="">
                    <p>代付代发</p>
                </li>
                <li>
                    <img src="../../static/images/application/pay5.png" alt="">
                    <p>微信公众号</p>
                </li>
                <li>
                    <img src="../../static/images/application/pay6.png" alt="">
                    <p>虚拟用户</p>
                </li>
                <li>
                    <img src="../../static/images/application/pay7.png" alt="">
                    <p>移动APP</p>
                </li>
            </ul>
            <h4>线下：</h4>
            <div class="clearfix">
                <dl>
                    <dt>产品</dt>
                    <dd>智能POS</dd>
                    <dd>台卡（二维码）</dd>
                    <dd>收银系统SDK</dd>
                    <dd>PC收银软件</dd>
                    <dd>移动收款APP</dd>
                </dl>
                <dl>
                    <dt>场景</dt>
                    <dd>中大型商户</dd>
                    <dd>小型商户</dd>
                    <dd>连锁商户商场</dd>
                    <dd>收银台+扫码枪</dd>
                    <dd>上门收款O2O</dd>
                </dl>
            </div>
        </div>
    </div>
    <!-- 适合各类商家 -->
    <div class="container fit-business">
        <div >
            <span><img src="../../static/images/advantages/header-left.png"></span>
            <span >适合各类商家</span>
            <span><img src="../../static/images/advantages/header-right.png"></span>
        </div>
        <div>
            <ul style="padding: 0px;" class='clearfix'>
                <li><img src="../../static/images/application/business.png"></li>
                <li><img src="../../static/images/application/hotel.png"></li>
                <li><img src="../../static/images/application/travel.png"></li>
                <li><img src="../../static/images/application/finance.png"></li>
                <li><img src="../../static/images/application/retail.png"></li>
                <li><img src="../../static/images/application/game.png"></li>
            </ul>
        </div>
    </div>
    <!-- 页面底部 -->
    <div class="footer container-fluid">
        <div class="container ft-container">
            <div class="ft-content">
                <p>趣支付网络信息有限公司</p>
                <p>Copyright © 2018 备案号：苏ICP备18065712号-1</p>
            </div>
        </div>
    </div>
    <!-- 到达页面顶部按钮 -->
  <div class="toTop"></div>
</body>
</html>
<script src="../../static/lib/jquery/jquery.min.js"></script>
<script src="../../static/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/js/pubic.js"></script>