<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>开放平台</title>
    <link rel="stylesheet" href="../../static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/less/platform.css">
</head>

<body>
    <!-- 顶部导航栏 -->
    <nav class="navbar navbar-default nav-pay">
        <div class="container">
            <div class="row">
                <div class="col-sm-2" style="height: 85px">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand logo-pay" href="../index.html"><img src="../../static/images/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="collapse navbar-collapse nav-content" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-left left-nav">
                            <li><a href="../index.html">首页 <span class="sr-only">(current)</span></a></li>
                            <li><a href="application.html">应用场景</a></li>
                        </ul>
                        <ul class="nav navbar-nav right-nav">
                            <li><a href="open-platform.html">开放平台</a></li>
                            <li class="dropdown">
                                <a href="#" class = "btn-login">登录</a>
                        </ul>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="content"></div>
    <!-- 页面底部 -->
    <div class="footer container-fluid">
        <div class="container ft-container">
            <div class="ft-content">
                <p>浙江趣支付网络信息有限公司</p>
                <p>地址：重庆国际大厦</p>
                <p>Copyright © 2018 备案号：苏ICP备18065712号-1</p>
            </div>
        </div>
    </div>
    <!-- 到达页面顶部按钮 -->
    <div class="toTop"></div>
</body>

</html>
<script src="../../static/lib/jquery/jquery.min.js"></script>
<script src="../../static/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/js/pubic.js"></script>